:root {
  --color-accent: rgb(28, 102, 238);
  --color-accent-lighter: rgb(236, 243, 255);
  --color-gray-lighter: #f1f1f1;
  --color-black: rgb(51, 51, 51);
  --color-text: var(var(--color-black));
  --color-background: rgb(226, 226, 226);
  --color-border: #d3d3d3;

  --box-shadow: 0 1px 1px 1px rgb(202, 202, 202);
  --box-shadow-sec: 0 1px 5px 2px rgb(0 0 0 / 0.15);
  --border-radius: 8px;
  --header-height: 58px;
  --field-height: 37px;

  --gallery-items-gap: 15px;
  --gallery-items-per-row: 1;

  --trans-func: ease;
  --trans-duration: 250ms;

  --color-blue-rgb: 27, 101, 238;
  --color-orange-rgb: 237, 79, 52;
  --color-blue: rgb(var(--color-blue-rgb));
  --color-blue-light: #296ff0;
  --color-orange: rgb(var(--color-orange-rgb));
  --color-gray-lighter: #f1f1f1;
  --color-black: rgb(43, 43, 43);
  --color-text: var(--color-black);
  --color-background: rgb(226, 226, 226);
  --color-header-bg: #242424;
}
